@use 'sass:math';
@use '../../styles/_common.scss' as common;

.plan {
  padding-top: 40px;
  padding-bottom: 245px;
  position: relative;
  background-image: url('../../img/planBG.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    @extend %headingSectionFont;
    margin-bottom: 87px;
  }

  &__points {
    background-image: url('../../img/plan-line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__point {
    display: flex;

    &.point1 {
      margin-bottom: 123px;

      .plan__point-text {
        width: 225px;
        animation: showText1 3s infinite;

        @keyframes showText1 {

          0%,
          10% {
            opacity: 0;
            transform: translateX(-20px);
          }

          100% {
            opacity: 1;
            transform: translateX(0px);
          }

        }
      }
    }

    &.point2 {
      margin-left: 32%;
      margin-bottom: 136px;

      .plan__point-text {
        width: 246px;
        animation: showText2 3s infinite;

        @keyframes showText2 {

          0%,
          30% {
            opacity: 0;
            transform: translateX(-20px);
          }

          100% {
            opacity: 1;
            transform: translateX(0px);
          }

        }

      }
    }

    &.point3 {
      margin-left: 68%;

      .plan__point-text {
        width: 268px;
        animation: showText3 3s infinite;

        @keyframes showText3 {

          0%,
          60% {
            opacity: 0;
            transform: translateX(-20px);
          }

          100% {
            opacity: 1;
            transform: translateX(0px);
          }

        }
      }
    }



    &-number {
      margin-right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: common.$mainColor;
      background-color: common.$additionalAccentColor;
      border-radius: 50%;
    }

    &-text {
      margin: 0;
      @extend %secondaryTextStyle;

      &-link {
        color: common.$mainAccentColor;
        text-decoration: underline;
      }
    }
  }

  &__plane {
    position: absolute;
    animation: planeFlight 3s infinite;

    @keyframes planeFlight {

      0% {
        top: 68px;
        left: -90px;
        transform: rotate(35deg);
        animation-timing-function: ease-in;
        opacity: 0;
      }

      20% {
        top: 170px;
        left: 280px;
        transform: rotate(45deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      35% {
        top: 350px;
        left: 660px;
        transform: rotate(65deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      43% {
        top: 460px;
        left: 850px;
        transform: rotate(60deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      51% {
        top: 540px;
        left: 1040px;
        transform: rotate(55deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      59% {
        top: 610px;
        left: 1230px;
        transform: rotate(45deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      64% {
        top: 620px;
        left: 1330px;
        transform: rotate(35deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      68% {
        top: 620px;
        left: 1420px;
        transform: rotate(30deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      80% {
        top: 590px;
        left: 1610px;
        transform: rotate(15deg);
        animation-timing-function: linear;
        opacity: 1;
      }

      100% {
        top: 550px;
        left: 1780px;
        transform: rotate(10deg);
        animation-timing-function: linear;
        opacity: 0;
      }
    }
  }
}
