@use 'sass:math';
@use '../../styles/_common.scss' as common;

.plan {
  padding-top: 40px;
  padding-bottom: 245px;
  position: relative;
  background-image: url('../../img/planBG.png');

  &__title {
    @extend %headingSectionFont;
    margin-bottom: 87px;
  }

  &__points {
    background-image: url('../../img/plan-line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__point {
    display: flex;

    &.point1 {
      margin-bottom: 123px;

      .plan__point-text {
        width: 225px;
      }
    }

    &.point2 {
      margin-left: 32%;
      margin-bottom: 136px;

      .plan__point-text {
        width: 246px;
      }
    }

    &.point3 {
      margin-left: 68%;

      .plan__point-text {
        width: 268px;
      }
    }


    &-number {
      margin-right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: common.$mainColor;
      background-color: common.$additionalAccentColor;
      border-radius: 50%;
    }

    &-text {
      margin: 0;
      @extend %secondaryTextStyle;

      &-link {
        color: common.$mainAccentColor;
        text-decoration: underline;
      }
    }
  }

  &__plane {
    position: absolute;
    animation: planeFlight 3s infinite;

    @keyframes planeFlight {

      0% {
        top: 45px;
        left: -100px;
        transform: rotate(45deg);
        animation-timing-function: linear;
      }

      20% {
        top: 165px;
        left: 280px;
        transform: rotate(50deg);
        animation-timing-function: linear;
      }

      40% {
        top: 355px;
        left: 660px;
        transform: rotate(65deg);
        animation-timing-function: linear;
      }

      60% {
        top: 540px;
        left: 1040px;
        transform: rotate(60deg);
        animation-timing-function: linear;
      }

      70% {
        top: 615px;
        left: 1230px;
        transform: rotate(45deg);
        animation-timing-function: linear;
      }

      80% {
        top: 625px;
        left: 1420px;
        transform: rotate(30deg);
        animation-timing-function: linear;
      }

      90% {
        top: 590px;
        left: 1610px;
        transform: rotate(15deg);
        animation-timing-function: linear;
      }

      100% {
        top: 500px;
        left: 1800px;
        animation-timing-function: linear;
      }
    }
  }
}
