.plan__point-text {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4F5569;
}

.plan__title {
  margin: 0;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #1F1D2A;
  text-align: center;
}

.plan {
  padding-top: 40px;
  padding-bottom: 245px;
  position: relative;
  background-image: url("../../img/planBG.png");
}
.plan__title {
  margin-bottom: 87px;
}
.plan__points {
  background-image: url("../../img/plan-line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.plan__point {
  display: flex;
}
.plan__point.point1 {
  margin-bottom: 123px;
}
.plan__point.point1 .plan__point-text {
  width: 225px;
}
.plan__point.point2 {
  margin-left: 32%;
  margin-bottom: 136px;
}
.plan__point.point2 .plan__point-text {
  width: 246px;
}
.plan__point.point3 {
  margin-left: 68%;
}
.plan__point.point3 .plan__point-text {
  width: 268px;
}
.plan__point-number {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #FFF;
  background-color: #FF652F;
  border-radius: 50%;
}
.plan__point-text {
  margin: 0;
}
.plan__point-text-link {
  color: #14A76C;
  text-decoration: underline;
}
.plan__plane {
  position: absolute;
  -webkit-animation: planeFlight 3s infinite;
          animation: planeFlight 3s infinite;
}
@-webkit-keyframes planeFlight {
  0% {
    top: 45px;
    left: -100px;
    transform: rotate(45deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  20% {
    top: 165px;
    left: 280px;
    transform: rotate(50deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  40% {
    top: 355px;
    left: 660px;
    transform: rotate(65deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  60% {
    top: 540px;
    left: 1040px;
    transform: rotate(60deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  70% {
    top: 615px;
    left: 1230px;
    transform: rotate(45deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  80% {
    top: 625px;
    left: 1420px;
    transform: rotate(30deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  90% {
    top: 590px;
    left: 1610px;
    transform: rotate(15deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    top: 500px;
    left: 1800px;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}
@keyframes planeFlight {
  0% {
    top: 45px;
    left: -100px;
    transform: rotate(45deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  20% {
    top: 165px;
    left: 280px;
    transform: rotate(50deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  40% {
    top: 355px;
    left: 660px;
    transform: rotate(65deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  60% {
    top: 540px;
    left: 1040px;
    transform: rotate(60deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  70% {
    top: 615px;
    left: 1230px;
    transform: rotate(45deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  80% {
    top: 625px;
    left: 1420px;
    transform: rotate(30deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  90% {
    top: 590px;
    left: 1610px;
    transform: rotate(15deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    top: 500px;
    left: 1800px;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}/*# sourceMappingURL=Plan.css.map */