@use 'sass:math';
@use '../../styles/_common.scss' as common;

.advantages {
  padding-top: 40px;
  padding-bottom: 95px;
  background-image: url('../../img/advantagesBG.png');

  &__title {
    @extend %headingSectionFont;
    margin-bottom: 60px;
  }
}
