@use 'sass:math';
@use 'common' as common;

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('../fonts/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('../fonts/Nunito-Bold.woff2') format('woff2'),
    url('../fonts/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url('../fonts/Nunito-Black.woff2') format('woff2'),
    url('../fonts/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: local('Vollkorn'), url('../fonts/Vollkorn-Regular.woff2') format('woff2'),
    url('../fonts/Vollkorn-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: local('Vollkorn'), url('../fonts/Vollkorn-Medium.woff2') format('woff2'),
    url('../fonts/Vollkorn-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: common.$primaryFont, sans-serif;
  background-color: #F5F5F5;
}

.body__container {
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
}

.container {
  margin: 0 auto;
  width: math.div(common.$maxWidthContainer, 1920px) * 100%;
  max-width: common.$maxWidthContainer;
}
