@use 'sass:math';
@use '../../styles/_common.scss' as common;

.picture {
  max-width: 882px;
  min-height: 810px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;

  &__space {
    max-width: 882px;
    min-height: 693px;
    background-image: url(../../img/spaceBG.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    z-index: -1;
    animation: fadeIn 2s;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      25% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &-zero {
      position: absolute;
      top: 260px;
      left: 702px;
    }

    &-one {
      position: absolute;
      top: 209px;
      left: 780px;
    }

    &-stars {
      position: absolute;
      top: 14px;
      left: 119px;
    }

    &-elephant {
      position: absolute;
      top: 225px;
      right: 160px;
      animation: moveElephant 12s infinite;

      @keyframes moveElephant {
        0% {
          transform: rotate(0) translateX(0);
        }

        50% {
          transform: rotate(41deg) translateX(10px);
        }

        100% {
          transform: rotate(0) translateX(0);
        }
      }
    }

    &-bulb {
      position: absolute;
      top: 338px;
      right: 300px;
      animation: moveBulb 12s infinite;

      @keyframes moveBulb {
        0% {
          transform: rotate(0);
        }

        10% {
          transform: rotate(0);
        }

        40% {
          transform: rotate(-40deg);
        }

        70% {
          transform: rotate(5deg);
        }

        85% {
          transform: rotate(25deg);
        }

        100% {
          transform: rotate(0);
        }
      }
    }

    &-rocket {
      position: absolute;
      bottom: 280px;
      left: 120px;
      animation: moveRocket 12s infinite;

      @keyframes moveRocket {
        0% {
          transform: translateY(0);
          animation-timing-function: ease-out;
        }

        65% {
          transform: translateY(-70px);
          animation-timing-function: ease-out;
        }

        100% {
          transform: translateY(0);
          animation-timing-function: ease-out;
        }
      }
    }

    &-clock {
      position: absolute;
      top: 222px;
      left: 120px;
      animation: moveClock ease 12s infinite;

      @keyframes moveClock {

        0% {
          transform: rotate(0deg) scale(.7);
          animation-timing-function: ease-in;
        }

        50% {
          transform: rotate(-180deg) scale(1);
          animation-timing-function: ease-out;
        }

        100% {
          transform: rotate(-359deg) scale(.7);
        }
      }
    }

    &-spacePlane {
      position: absolute;
      top: 330px;
      right: 30px;
      animation: moveSpacePlane ease 12s infinite;

      @keyframes moveSpacePlane {
        0% {
          transform: scale(.5) rotate(0);
        }

        50% {
          transform: scale(1) rotate(45deg);
        }

        100% {
          transform: scale(.5) rotate(0);
        }
      }
    }

    &-stripedPlanet {
      position: absolute;
      top: 135px;
      left: 430px;
      animation: moveStripedPlanet ease 12s infinite;

      @keyframes moveStripedPlanet {

        0%,
        100% {
          transform: translateX(0);
        }

        7% {
          transform: translateX(0);
        }

        57% {
          transform: translateX(-30px);
        }

      }
    }

    &-bigPlanet {
      position: absolute;
      top: 84px;
      left: 210px;
      animation: movebigPlanet ease 12s infinite;

      @keyframes movebigPlanet {

        0%,
        100% {
          transform: translate(0);
        }

        50% {
          transform: translate(-50px, 20px);
        }

      }
    }

    &-atom {
      position: absolute;
      top: 135px;
      left: 77px;
      animation: moveAtom ease 12s infinite;

      @keyframes moveAtom {
        0% {
          transform: rotate(0deg) scale(1);
          animation-timing-function: ease-in;
        }

        50% {
          transform: rotate(45deg) scale(0);
          animation-timing-function: ease-out;
        }

        100% {
          transform: rotate(0deg) scale(1);
        }
      }
    }

    &-darkPlanet {
      position: absolute;
      top: 461px;
      left: 340px;
      animation: moveDarkPlanet 12s infinite;

      @keyframes moveDarkPlanet {

        0%,
        100% {
          transform: rotate(0);
        }

        50% {
          transform: rotate(-45deg);
        }
      }
    }

    &-division {
      position: absolute;
      top: 186px;
      left: 516px;
      animation: moveDivision 12s infinite;

      @keyframes moveDivision {
        0% {
          transform: scale(0.5);
          animation-timing-function: ease-out;
        }

        25% {
          transform: scale(1);
          opacity: 1;
          animation-timing-function: ease-in;
        }

        50% {
          transform: scale(1.2);
          opacity: 0;
        }

        100% {
          opacity: 0;
        }
      }
    }

    &-plus {
      position: absolute;
      top: 241px;
      left: 432px;
      animation: movePlus 12s infinite;

      @keyframes movePlus {
        0% {
          opacity: 0;
        }

        50% {
          transform: scale(0.5);
          opacity: 0;
          animation-timing-function: ease-out;
        }

        75% {
          transform: scale(1);
          opacity: 1;
          animation-timing-function: ease-in;
        }

        100% {
          transform: scale(1.2);
          opacity: 0;
        }
      }
    }

    &-balloon {
      position: absolute;
      top: 260px;
      left: 355px;
      animation: moveBalloon 12s infinite;

      @keyframes moveBalloon {

        0%,
        100% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(34px);
        }
      }
    }

    &-palette {
      position: absolute;
      top: 119px;
      left: 721px;
      animation: movePalette 12s infinite;

      @keyframes movePalette {

        0%,
        25% {
          transform: rotate(0);
        }

        85%,
        100% {
          transform: rotate(360deg);
        }

      }
    }
  }

  &__girl {
    position: absolute;
    top: 473px;
    right: 219px;

    &-pen {
      position: absolute;
      top: 150px;
      left: 35px;
      z-index: -1;
      animation: drawing 4s infinite;

      @keyframes drawing {

        0%,
        100% {
          transform: rotate(24deg);
        }

        20%,
        40%,
        60%,
        80% {
          transform: rotate(66deg);
        }

        10%,
        30%,
        50%,
        70%,
        90% {
          transform: rotate(72deg);
        }

      }
    }
  }
}
