.order__form-title {
  margin: 0;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #1F1D2A;
  text-align: center;
}

.order__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.order__form-container {
  position: relative;
}
.order__form-title {
  margin-bottom: 50px;
}
.order__form-btn {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #E02D05;
}
.order__form-input {
  margin-bottom: 20px;
}
.order__form-checkbox {
  margin-bottom: 50px;
}

.plane1 {
  position: absolute;
  bottom: 0;
  right: 80px;
  z-index: 2;
  -webkit-animation: animationPaperPlane1 5s infinite;
          animation: animationPaperPlane1 5s infinite;
}
@-webkit-keyframes animationPaperPlane1 {
  0% {
    transform: rotate(0deg);
    bottom: 0;
    right: 80px;
  }
  15% {
    transform: rotate(0deg);
    bottom: 0;
    right: 80px;
  }
  30%, 100% {
    transform: rotate(-10deg);
    right: 140px;
    bottom: 0;
  }
}
@keyframes animationPaperPlane1 {
  0% {
    transform: rotate(0deg);
    bottom: 0;
    right: 80px;
  }
  15% {
    transform: rotate(0deg);
    bottom: 0;
    right: 80px;
  }
  30%, 100% {
    transform: rotate(-10deg);
    right: 140px;
    bottom: 0;
  }
}

.plane2 {
  position: absolute;
  bottom: 0;
  right: 60px;
  -webkit-animation: animationPaperPlane2 5s infinite;
          animation: animationPaperPlane2 5s infinite;
}
@-webkit-keyframes animationPaperPlane2 {
  0% {
    transform: rotate(0deg);
    bottom: 0;
    right: 60px;
  }
  15% {
    transform: rotate(0deg);
    bottom: 0;
    right: 60px;
  }
  30%, 100% {
    transform: rotate(15deg);
    right: 90px;
    bottom: 0;
  }
}
@keyframes animationPaperPlane2 {
  0% {
    transform: rotate(0deg);
    bottom: 0;
    right: 60px;
  }
  15% {
    transform: rotate(0deg);
    bottom: 0;
    right: 60px;
  }
  30%, 100% {
    transform: rotate(15deg);
    right: 90px;
    bottom: 0;
  }
}

.plane {
  position: absolute;
  z-index: 3;
  transform: scale(-1, 1) rotate(10deg);
  -webkit-animation: flight 5s infinite;
          animation: flight 5s infinite;
}
@-webkit-keyframes flight {
  0% {
    transform: scale(-1, 1) rotate(50deg);
    right: -300px;
    bottom: 100px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    transform: scale(-1, 1) rotate(30deg);
    right: -100px;
    bottom: 40px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20%, 100% {
    transform: scale(-1, 1) rotate(15deg);
    right: 120px;
    bottom: 10px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes flight {
  0% {
    transform: scale(-1, 1) rotate(50deg);
    right: -300px;
    bottom: 100px;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    transform: scale(-1, 1) rotate(30deg);
    right: -100px;
    bottom: 40px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20%, 100% {
    transform: scale(-1, 1) rotate(15deg);
    right: 120px;
    bottom: 10px;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=OrderForm.css.map */